In [7]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

#Load the dataset into a Pandas Dataframe
df = pd.read_csv('taxi_zones.csv')

#Display the first few rows of the dataset
print("Sample of the Dataset:")
print(df.head())

#Step-2 : Volume - How large is the data?

print(f"Number of Rows: {df.shape[0]}")
print(f"Number of Columns: {df.shape[1]}")
print(f"Memory Usage: {df.memory_usage(deep=True).sum() / (1024**2):.2f} MB")

#Step-3 : Variety
print(df.dtypes)
print(df.info)

Sample of the Dataset:
              X              Y  OBJECTID  Shape_Leng  Shape_Area  \
0  9.352230e+05  190535.052575         1    0.116357    0.000782
1  1.032516e+06  167292.493195         2    0.433470    0.004866
2  1.025883e+06  254779.600631         3    0.084341    0.000314
3  9.906188e+05  203105.532318         4    0.043567    0.000112
4  9.314680e+05  139837.478389         5    0.092146    0.000498

                      zone  LocationID        borough   Latitude  Longitude
0           Newark Airport           1            EWR  35.475594 -83.290731
1              Jamaica Bay           2         Queens  35.742300 -90.562330
2  Allerton/Pelham Gardens           3          Bronx  33.293157 -86.767961
3            Alphabet City           4      Manhattan  40.724545 -73.979050
4            Arden Heights           5  Staten Island  39.809279 -75.486587
Number of Rows: 263
Number of Columns: 10
Memory Usage: 0.05 MB
X             float64
Y             float64
OBJECTID        int64
Shape_Leng    float64
Shape_Area    float64
zone           object
LocationID      int64
borough        object
Latitude      float64
Longitude     float64
dtype: object
<bound method DataFrame.info of                 X              Y  OBJECTID  Shape_Leng  Shape_Area  \
0    9.352230e+05  190535.052575         1    0.116357    0.000782
1    1.032516e+06  167292.493195         2    0.433470    0.004866
2    1.025883e+06  254779.600631         3    0.084341    0.000314
3    9.906188e+05  203105.532318         4    0.043567    0.000112
4    9.314680e+05  139837.478389         5    0.092146    0.000498
..            ...            ...       ...         ...         ...
258  1.023962e+06  266878.034018       259    0.126750    0.000395
259  1.010930e+06  211369.883417       260    0.133514    0.000422
260  9.806682e+05  197575.689861       261    0.027120    0.000034
261  9.992531e+05  222193.818758       262    0.049064    0.000122
262  9.977632e+05  222907.634704       263    0.037017    0.000066

                        zone  LocationID        borough   Latitude   Longitude
0             Newark Airport           1            EWR  35.475594  -83.290731
1                Jamaica Bay           2         Queens  35.742300  -90.562330
2    Allerton/Pelham Gardens           3          Bronx  33.293157  -86.767961
3              Alphabet City           4      Manhattan  40.724545  -73.979050
4              Arden Heights           5  Staten Island  39.809279  -75.486587
..                       ...         ...            ...        ...         ...
258       Woodlawn/Wakefield         259          Bronx  42.307797  -96.930286
259                 Woodside         260         Queens  37.429939 -122.253856
260       World Trade Center         261      Manhattan  36.375484  -81.758240
261           Yorkville East         262      Manhattan  43.112850  -75.271000
262           Yorkville West         263      Manhattan  31.759903  -97.102936

[263 rows x 10 columns]>

In [ ]:
#Step-4 : Velocity
for i in range(5):                        #Stream 5 batches
  sample_data = df.sample(2)              #Stream 5 random rows
  print(f"\nBatch (i+1):\n", sample_data)
  time.sleep(2)                           #Wait for 2 seconds to simulate streaming

Batch (i+1):
                  X              Y  OBJECTID  Shape_Leng  Shape_Area  \
67   984266.581407  211937.944079        68    0.049337    0.000111
216  996215.257198  195492.216142       217    0.055391    0.000115

                   zone  LocationID    borough   Latitude  Longitude
67         East Chelsea          68  Manhattan  42.391760 -71.032830
216  South Williamsburg         217   Brooklyn  28.414451 -81.442849

Batch (i+1):
                 X              Y  OBJECTID  Shape_Leng  Shape_Area  \
202  1.057297e+06  179660.443813       203    0.189938    0.000615
92   1.028064e+06  208639.269516        93    0.170998    0.000594

                             zone  LocationID borough   Latitude   Longitude
202                      Rosedale         203  Queens  35.468183 -118.779649
92   Flushing Meadows-Corona Park          93  Queens  39.112510 -100.358750

Batch (i+1):
                 X              Y  OBJECTID  Shape_Leng  Shape_Area  \
111  9.985315e+05  204813.312104       112    0.107268    0.000462
174  1.051487e+06  210164.456713       175    0.134898    0.000505

                zone  LocationID   borough   Latitude  Longitude
111       Greenpoint         112  Brooklyn  40.480922 -76.551631
174  Oakland Gardens         175    Queens  40.742772 -73.758831

Batch (i+1):
                 X              Y  OBJECTID  Shape_Leng  Shape_Area  \
149  1.000116e+06  150686.818512       150    0.089331    0.000333
243  1.000390e+06  245761.392287       244    0.080569    0.000360

                         zone  LocationID    borough   Latitude  Longitude
149           Manhattan Beach         150   Brooklyn  40.688630 -74.018244
243  Washington Heights South         244  Manhattan  37.329217 -86.364699

Batch (i+1):
                 X              Y  OBJECTID  Shape_Leng  Shape_Area  \
156  1.011434e+06  203078.823074       157    0.131300    0.000354
37   1.057584e+06  191973.412778        38    0.083218    0.000327

                zone  LocationID borough   Latitude  Longitude
156          Maspeth         157  Queens  40.722848 -73.908413
37   Cambria Heights          38  Queens  40.694550 -73.738470

In [ ]:
#Install PySpark in Google Colab
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [2]:
#Import PySpark session
from pyspark.sql import SparkSession

#Create a SparkSession
spark = SparkSession.builder.appName("Big Data Tools Overview").getOrCreate()

#Create a simple DataFrame
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, schema=columns)

#Show the DataFrame
df.show()

+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [9]:
from collections import Counter

#sample dataset
data = ["Big Data ecosystem", "Data architecture", "Big Data storage"]

#Map phase
mapped =[]
for line in data:
  words = line.split()
  mapped.extend([(word,1) for word in words])

#Reduce phase
reduced = Counter()
for key, value in mapped:
  reduced[key] += value

for word, count in reduced.items():
  print(f"{word}: {count}")

Big: 2
Data: 3
ecosystem: 1
architecture: 1
storage: 1